{% extends 'base.html.twig' %}
{% block title %}Góra Trolla - O nas{% endblock %}
{% block body %}
<h1>{{ AboutUs }}</h1>

<div>
    <h2>There is a text about band "Góra Trolla".</h2>
    → Who we are <br>
    → What are we doing <br>
    → About our instruments <br>
    → About music we are playing <br>
</div>
{% endblock %}
