{% extends 'base.html.twig' %}
{% block title %}Góra Trolla - O nas{% endblock %}
{% block body %}


    <p style="text-align: center; font-size: 24px; line-height: 40px; font-family: 'Cambria', sans-serif; color: #414141;">
        <div class="info" style="text-align: center">
            Zespół muzyki dawnej Góra Trolla powstał w 2008 roku w Trójmieście.<br/>
            Wykonujemy utwory z okresu średniowiecza oraz renesansu,<br/>
            głównie z rejonów zachodniej Europy.<br/>

            Gramy tańce i pieśni w ich oryginalnych, historycznych formach.<br/>

            Śpiewamy po łacinie, staronorwesku, staroszwedzku, starooksytańsku, średnio-wysoko-niemiecku i oczywiście po polsku.<br/>
        </div>

    </p>
{% endblock %}
